<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/panel/resource/account.css">
    <title th:text="#{label.account.title}"></title>

    <div id="copied-dummy" th:attr="data-dummy-copied-txt=#{label.account.copied}"></div>
    <script>
        function copyFunc(element) {
            var id = element.id;
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = id;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            element.textContent = document.getElementById("copied-dummy").getAttribute("data-dummy-copied-txt")
        }
    </script>

</head>
<body>
<div class="container">
    <h1 th:text="#{label.account.title}">form</h1>
    <!--/*@thymesVar id="user" type="net.covers1624.springshot.entity.User"*/-->
    <p th:object="${user}">
    <div class="username">
        <label th:text="#{label.account.username}">username</label>
        <label th:text="*{user.username}"></label>
    </div>
    <div class="email">
        <label th:text="#{label.account.email}">email</label>
        <label th:text="*{user.email}"></label>
    </div>
    <form th:action="@{/panel/account/add_key}" th:method="post">
        <input class="inputbtn" type="submit" th:value="#{label.account.add}">
    </form>

    <!--<p th:object="${api_keys}">-->
    <table>
        <tr>
            <th th:text="#{label.account.token}">api-token</th>
            <th th:text="#{label.account.delete}">delete</th>
        </tr>
        <tr th:each="key : ${api_keys}">
            <td>
                <label class="token_label" th:text="${key.getSecret()}"></label>
                <button class="copybtn" onclick="copyFunc(this)" th:id="${key.getSecret()}" th:value="#{label.account.copy}">copy</button>
            </td>
            <td>
                <input th:id="${key.getSecret()}" class="deletebtn" type="submit" name="delete" th:value="#{label.account.delete.btn}" onclick="alert('Not Yet Implemented')">
            </td>
        </tr>
    </table>
    </form>

</div>
</body>
</html>