<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/panel/resource/login.css">
    <title th:text="#{label.login.title}"></title>
</head>
<body>
<div class="container">
    <h2 th:text="#{label.login.title}">login</h2>
    <form class="login" role="form" th:action="@{/panel/login}" th:method="post">
        <div>
            <label for="username">Username</label>
            <input id="username" type="text" name="username">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
    <form class="register" th:action="@{/panel/register}" th:method="get">
        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>
