<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/panel/resource/register.css">
    <title th:text="#{label.register.title}"></title>
</head>
<body>
<div class="container">
    <h1 th:text="#{label.register.title}">form</h1>
    <!--/*@thymesVar id="user" type="net.covers1624.springshot.form.UserForm"*/-->
    <form role="form" th:action="@{/panel/register}" th:method="post" th:object="${user}">

        <div>
            <label th:text="#{label.register.username}">username</label>
            <input th:field="*{username}"/>
            <div class="errordiv" th:if="${#fields.hasErrors('username')}">
                <span class="error" th:errors="*{username}"></span>
            </div>
        </div>
        <div>

            <label th:text="#{label.register.email}">email</label>
            <input th:field="*{email}"/>
            <div class="errordiv" th:if="${#fields.hasErrors('email')}">
                <span class="error" th:errors="*{email}"></span>
            </div>
        </div>
        <div>
            <label th:text="#{label.register.password}">password</label>
            <input type="password" th:field="*{password}"/>
            <div class="errordiv" th:if="${#fields.hasErrors('password')}">
                <span class="error" th:errors="*{password}"></span>
            </div>
            <div class="errordiv" th:if="${#fields.hasErrors('passwordsEqual')}">
                <span class="error" th:errors="*{passwordsEqual}"></span>
            </div>
        </div>
        <div>
            <label th:text="#{label.register.confirmPass}">confirm</label>
            <input type="password" th:field="*{passwordConfirm}"/>
            <div class="errordiv" th:if="${#fields.hasErrors('passwordsEqual')}">
                <span class="error" th:errors="*{passwordsEqual}"></span>
            </div>
        </div>

        <button type="submit" th:text="#{label.register.submit}">submit</button>
    </form>
</div>
</body>
</html>